In [1]:
import pandas as pd
pd.set_option('display.max_rows', 5) #instead us using df.head()
pd.set_option('display.max_columns', 80) #to see all rows
import os
import numpy as np
location = os.getcwd()
file="\Cities.xls"
path = location+file
df = pd.read_excel(path)
#description of variables: 
#https://www.dropbox.com/sh/1w131yft8tysndx/AADJcrNsu9m4wchBo69gOcBxa?dl=0&preview=0-Summary-of-Indicators-and-Sources.xlsx

In [2]:
df.head()

,City,cityID,clusterID,Typology,Country,Car Modeshare (%),Public Transit Modeshare (%),Bicycle Modeshare (%),Walking Modeshare (%),Gasoline Pump Price (USD/liter),Road Deaths Rate (per 1000),Subway Length (km),Subway Length Density (per km),Subway Stations per Hundred Thousand,Subway Ridership per Capita,Subway Age (years),BRT Length (km),BRT System Length Density (per km),BRT Stations per Hundred Thousand Persons,BRT Fleet per Hundred Thousand Persons,BRT Annual Ridership per Capita,BRT Age (years),Bikeshare Stations,Bikeshare Stations per Hundred Thousand Persons,Bikeshare Number of Bikes,Bikeshare Bicycles per Hundred Thousand Persons,Bikeshare Age (years),Congestion (%),Congestion AM Peak (%),Congestion PM Peak (%),Traffic Index,Travel Time Index,Inefficiency Index,Population,Land Area (sq. km),Population Density (per sq. km),Population Change 1990 – 2000,Population Change 2000 – 2010,Population Change 2010 – 2020,Population Change 2020 – 2025,Urbanization Rate 2015 (%),Urbanization Rate Change 2015 – 2025 (pp),GDP per Capita (USD),Unemployment Rate (%),Cost of Living Index,Rent Index,Grocery Index,Restaurant Price Index,Local Purchasing Power Index,Gini Coefficient,Poverty Rate (%),Life Expectancy (years),Safety Index,Internet Penetration,Digital Penetration,Innovation Index,Smartphone Penetration (%),CO2 Emissions per Capita (metric tonnes),Pollution Index,Street length total (m),Street Length Density (m/sq. km),Street Length Average (m),Intersection Count,Intersection Density (per sq. km),Degree Average,Streets per Node,Circuity,Self-Loop Proportion,Highway Proportion,Metro Propensity Factor,BRT Propensity Factor,BikeShare Propensity Factor,Development Factor,Sustainability Factor,Population Factor,Congestion Factor,Sprawl Factor,Network Density Factor
284,Baltimore(MD),285,7,Auto Sprawl,United States,85.0,6.1,0.3,2.6,0.66,8.5,24.9,0.013409,0.615385,6.417582,34,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,2.197802,NaN,0.00000,2.0,19.0,33.0,46.0,148.97,36.90,150.22,2275000,1857,1200,233673,332204,399059,195708,81.6,1.7,58789.0,7.20,77.33,48.58,76.48,78.28,150.69,0.443,22.9,78.8,31.19,81.0,0.78,45.0,72.0,14.300000,NaN,7468900.983,7.604833e+09,148.013337,28660.0,1018.199702,5.021972,2.869906,1.067736,0.007910,0.041018,0.160848,0.176867,0.360637,0.796264,0.355964,0.081956,0.180085,0.722163,0.425187
9,Melbourne,10,8,Auto Innovative,Australia,80.0,14.0,2,4.0,1.11,5.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,1.264223,600.0,15.17067,2.0,33.0,55.0,58.0,143.12,35.57,138.17,3955000,2543,1500,316060,462816,715525,350883,89.4,1.2,39358.0,5.50,79.04,44.30,72.93,76.07,139.62,NaN,NaN,82.0,60.23,86.9,0.74,50.0,77.0,10.200000,26.77,8636838.530,8.653670e+09,107.503591,48571.0,1001.948856,4.948413,2.876305,1.036985,0.001626,0.014489,0.060387,0.168335,0.363675,0.786174,0.397894,0.082267,0.333173,0.539355,0.558910
185,Niamey,186,1,Congested Emerging,Niger,NaN,9.0,2,60.0,1.02,26.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1435000,130,11100,248392,541978,960996,741379,18.7,3.5,427.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.6,61.8,NaN,2.4,0.04,NaN,NaN,0.106861,NaN,2134329.200,3.496995e+09,97.860119,13033.0,1638.451450,6.161297,3.187450,1.019423,0.000095,0.000000,0.036220,0.010915,0.343161,0.000000,0.273646,0.248398,0.655464,0.275605,0.410312
327,Hanoi,328,12,MetroBike Emerging,Vietnam,8.0,10.0,2,NaN,0.90,24.5,0.0,0.000000,0.000000,0.000000,0,14.5,NaN,0.143000,NaN,0.149000,1.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,160.60,40.78,189.18,7445000,868,8600,520495,1149423,1391900,608994,33.6,6.3,3425.0,6.84,41.73,17.15,37.25,22.72,23.47,0.340,5.4,76.0,54.64,50.1,0.31,35.0,35.0,1.700368,89.66,8079366.816,1.156634e+09,300.370541,15881.0,143.158938,5.205795,2.870473,1.097533,0.000921,0.022938,0.078028,0.084511,0.358868,0.157676,0.509057,0.292564,0.624623,0.666710,0.239113
66,Urumqi,67,12,MetroBike Emerging,China,21.7,54.7,NaN,NaN,1.16,18.8,0.0,0.000000,0.000000,0.000000,0,66.0,0.134146,2.537764,9.123867,34.441088,7.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3310000,492,6700,556511,1249115,1610288,491541,55.6,9.8,12189.0,3.40,NaN,NaN,NaN,NaN,NaN,0.320,NaN,76.1,NaN,50.1,0.43,NaN,58.0,7.550916,NaN,8891135.865,2.169530e+08,546.944874,9567.0,24.401041,4.736409,2.680313,1.064157,0.000348,0.060128,0.103334,0.447261,0.392551,0.287235,0.801464,0.322960,0.586019,0.791822,0.075617

In [3]:
df.describe()

,cityID,clusterID,Car Modeshare (%),Public Transit Modeshare (%),Walking Modeshare (%),Gasoline Pump Price (USD/liter),Road Deaths Rate (per 1000),Subway Length (km),Subway Length Density (per km),Subway Stations per Hundred Thousand,Subway Ridership per Capita,Subway Age (years),BRT Length (km),BRT System Length Density (per km),BRT Stations per Hundred Thousand Persons,BRT Fleet per Hundred Thousand Persons,BRT Annual Ridership per Capita,BRT Age (years),Bikeshare Stations per Hundred Thousand Persons,Bikeshare Number of Bikes,Bikeshare Bicycles per Hundred Thousand Persons,Bikeshare Age (years),Congestion (%),Congestion AM Peak (%),Congestion PM Peak (%),Traffic Index,Travel Time Index,Inefficiency Index,Population,Land Area (sq. km),Population Density (per sq. km),Population Change 1990 – 2000,Population Change 2000 – 2010,Population Change 2010 – 2020,Population Change 2020 – 2025,Urbanization Rate 2015 (%),Urbanization Rate Change 2015 – 2025 (pp),GDP per Capita (USD),Unemployment Rate (%),Cost of Living Index,Rent Index,Grocery Index,Restaurant Price Index,Local Purchasing Power Index,Gini Coefficient,Poverty Rate (%),Life Expectancy (years),Safety Index,Internet Penetration,Digital Penetration,Innovation Index,Smartphone Penetration (%),CO2 Emissions per Capita (metric tonnes),Pollution Index,Street length total (m),Street Length Density (m/sq. km),Street Length Average (m),Intersection Count,Intersection Density (per sq. km),Degree Average,Streets per Node,Circuity,Self-Loop Proportion,Highway Proportion,Metro Propensity Factor,BRT Propensity Factor,BikeShare Propensity Factor,Development Factor,Sustainability Factor,Population Factor,Congestion Factor,Sprawl Factor,Network Density Factor
count,331.0,331.000000,224.000000,227.000000,199.000000,331.000000,330.000000,331.000000,331.000000,331.000000,331.000000,331.000000,330.000000,329.000000,321.000000,300.000000,330.000000,316.000000,330.000000,313.000000,316.000000,328.000000,165.000000,165.000000,165.000000,142.000000,142.000000,142.000000,3.310000e+02,331.000000,331.000000,3.310000e+02,3.310000e+02,3.310000e+02,3.310000e+02,328.000000,328.000000,331.000000,193.000000,223.000000,223.00000,223.000000,223.000000,223.000000,226.000000,194.000000,331.000000,207.000000,330.000000,324.000000,258.000000,219.000000,331.000000,170.000000,3.170000e+02,3.170000e+02,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,166.0,5.567976,47.688694,25.999218,18.270352,1.053988,14.707576,38.872356,0.037598,0.729446,25.634767,16.199396,10.533455,0.013815,0.413424,1.690402,4.282701,3.126582,1.717524,1507.434505,28.744784,1.917683,29.387879,46.654545,57.539394,170.634718,40.236268,181.698099,4.343458e+06,1048.232628,6107.362538,5.650781e+05,6.583977e+05,8.284136e+05,4.069141e+05,67.545732,3.545732,25398.480846,7.807409,58.721121,28.26991,53.744439,52.883767,83.786637,0.427235,21.290825,74.402523,52.420483,57.426667,0.524599,39.678295,53.452055,7.397879,60.474765,7.116418e+06,5.322874e+09,157.060505,28596.160883,1742.295843,5.112775,2.877538,1.066236,0.002914,0.016953,0.195855,0.173344,0.398780,0.416785,0.381920,0.171709,0.491645,0.492904,0.412400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75%,248.5,8.000000,75.650000,39.650000,27.000000,1.315000,20.450000,42.550000,0.052714,1.137465,25.739660,25.000000,7.750000,0.007384,0.138593,0.000000,0.824889,1.250000,0.927193,300.000000,8.743201,2.000000,36.000000,58.000000,68.000000,199.452500,44.625000,233.672500,4.727500e+06,1291.000000,8350.000000,6.463495e+05,8.743945e+05,1.062863e+06,4.813000e+05,81.600000,4.700000,43633.000000,8.800000,74.625000,37.15500,70.590000,72.460000,117.065000,0.471000,28.097500,79.600000,63.615000,76.200000,0.770000,44.000000,72.000000,11.200000,77.995000,7.556040e+06,7.118912e+09,169.714325,32620.000000,1423.975084,5.443809,3.030951,1.079913,0.003602,0.026980,0.277798,0.190673,0.423609,0.706330,0.450211,0.248221,0.640847,0.679550,0.474617
max,331.0,12.000000,94.800000,82.500000,78.000000,2.120000,37.200000,588.000000,0.612982,9.797980,326.159420,127.000000,207.000000,0.234286,8.818182,92.673267,105.678013,46.000000,38.987508,90000.000000,1181.102362,18.000000,66.000000,96.000000,118.000000,359.430000,71.050000,444.440000,3.775000e+07,11642.000000,44100.000000,6.135953e+06,6.202838e+06,7.338635e+06,3.661236e+06,100.000000,10.000000,86830.000000,38.000000,147.990000,144.32000,131.280000,135.800000,173.640000,0.750000,61.600000,85.000000,85.430000,95.000000,0.850000,60.000000,88.000000,44.100000,104.200000,9.487584e+07,1.975170e+10,910.880917,261120.000000,27693.013740,6.650233,3.497378,1.215631,0.026391,0.082444,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.columns

Index(['City', 'cityID', 'clusterID', 'Typology', 'Country',
       'Car Modeshare (%)', 'Public Transit Modeshare (%)',
       'Bicycle Modeshare (%)', 'Walking Modeshare (%)',
       'Gasoline Pump Price (USD/liter)', 'Road Deaths Rate (per 1000)',
       'Subway Length (km)', 'Subway Length Density (per km)',
       'Subway Stations per Hundred Thousand', 'Subway Ridership per Capita',
       'Subway Age (years)', 'BRT Length (km)',
       'BRT System Length Density (per km)',
       'BRT Stations per Hundred Thousand Persons',
       'BRT Fleet per Hundred Thousand Persons',
       'BRT Annual Ridership per Capita', 'BRT Age (years)',
       'Bikeshare Stations', 'Bikeshare Stations per Hundred Thousand Persons',
       'Bikeshare Number of Bikes',
       'Bikeshare Bicycles per Hundred Thousand Persons',
       'Bikeshare Age (years)', 'Congestion (%)', 'Congestion AM Peak (%)',
       'Congestion PM Peak (%)', 'Traffic Index', 'Travel Time Index',
       'Inefficiency Index', 'Population', 'Land Area (sq. km)',
       'Population Density (per sq. km)', 'Population Change 1990 – 2000',
       'Population Change 2000 – 2010', 'Population Change 2010 – 2020',
       'Population Change 2020 – 2025', 'Urbanization Rate 2015 (%)',
       'Urbanization Rate Change 2015 – 2025 (pp)', 'GDP per Capita (USD)',
       'Unemployment Rate (%)', 'Cost of Living Index', 'Rent Index',
       'Grocery Index', 'Restaurant Price Index',
       'Local Purchasing Power Index', 'Gini Coefficient', 'Poverty Rate (%)',
       'Life Expectancy (years)', 'Safety Index', 'Internet Penetration',
       'Digital Penetration', 'Innovation Index', 'Smartphone Penetration (%)',
       'CO2 Emissions per Capita (metric tonnes)', 'Pollution Index ',
       'Street length total (m)', 'Street Length Density (m/sq. km)',
       'Street Length Average (m)', 'Intersection Count',
       'Intersection Density (per sq. km)', 'Degree Average',
       'Streets per Node', 'Circuity', 'Self-Loop Proportion',
       'Highway Proportion', 'Metro Propensity Factor',
       'BRT Propensity Factor', 'BikeShare Propensity Factor',
       'Development Factor', 'Sustainability Factor', 'Population Factor',
       'Congestion Factor', 'Sprawl Factor', 'Network Density Factor'],
      dtype='object')

In [5]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '').str.replace('%','p').str.replace('–_','').str.replace('.','').str.replace('/','')

In [6]:
df.head()

,city,cityid,clusterid,typology,country,car_modeshare_p,public_transit_modeshare_p,bicycle_modeshare_p,walking_modeshare_p,gasoline_pump_price_usdliter,road_deaths_rate_per_1000,subway_length_km,subway_length_density_per_km,subway_stations_per_hundred_thousand,subway_ridership_per_capita,subway_age_years,brt_length_km,brt_system_length_density_per_km,brt_stations_per_hundred_thousand_persons,brt_fleet_per_hundred_thousand_persons,brt_annual_ridership_per_capita,brt_age_years,bikeshare_stations,bikeshare_stations_per_hundred_thousand_persons,bikeshare_number_of_bikes,bikeshare_bicycles_per_hundred_thousand_persons,bikeshare_age_years,congestion_p,congestion_am_peak_p,congestion_pm_peak_p,traffic_index,travel_time_index,inefficiency_index,population,land_area_sq_km,population_density_per_sq_km,population_change_1990_2000,population_change_2000_2010,population_change_2010_2020,population_change_2020_2025,urbanization_rate_2015_p,urbanization_rate_change_2015_2025_pp,gdp_per_capita_usd,unemployment_rate_p,cost_of_living_index,rent_index,grocery_index,restaurant_price_index,local_purchasing_power_index,gini_coefficient,poverty_rate_p,life_expectancy_years,safety_index,internet_penetration,digital_penetration,innovation_index,smartphone_penetration_p,co2_emissions_per_capita_metric_tonnes,pollution_index,street_length_total_m,street_length_density_msq_km,street_length_average_m,intersection_count,intersection_density_per_sq_km,degree_average,streets_per_node,circuity,self-loop_proportion,highway_proportion,metro_propensity_factor,brt_propensity_factor,bikeshare_propensity_factor,development_factor,sustainability_factor,population_factor,congestion_factor,sprawl_factor,network_density_factor
284,Baltimore(MD),285,7,Auto Sprawl,United States,85.0,6.1,0.3,2.6,0.66,8.5,24.9,0.013409,0.615385,6.417582,34,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,2.197802,NaN,0.00000,2.0,19.0,33.0,46.0,148.97,36.90,150.22,2275000,1857,1200,233673,332204,399059,195708,81.6,1.7,58789.0,7.20,77.33,48.58,76.48,78.28,150.69,0.443,22.9,78.8,31.19,81.0,0.78,45.0,72.0,14.300000,NaN,7468900.983,7.604833e+09,148.013337,28660.0,1018.199702,5.021972,2.869906,1.067736,0.007910,0.041018,0.160848,0.176867,0.360637,0.796264,0.355964,0.081956,0.180085,0.722163,0.425187
9,Melbourne,10,8,Auto Innovative,Australia,80.0,14.0,2,4.0,1.11,5.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,50,1.264223,600.0,15.17067,2.0,33.0,55.0,58.0,143.12,35.57,138.17,3955000,2543,1500,316060,462816,715525,350883,89.4,1.2,39358.0,5.50,79.04,44.30,72.93,76.07,139.62,NaN,NaN,82.0,60.23,86.9,0.74,50.0,77.0,10.200000,26.77,8636838.530,8.653670e+09,107.503591,48571.0,1001.948856,4.948413,2.876305,1.036985,0.001626,0.014489,0.060387,0.168335,0.363675,0.786174,0.397894,0.082267,0.333173,0.539355,0.558910
185,Niamey,186,1,Congested Emerging,Niger,NaN,9.0,2,60.0,1.02,26.4,0.0,0.000000,0.000000,0.000000,0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1435000,130,11100,248392,541978,960996,741379,18.7,3.5,427.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.6,61.8,NaN,2.4,0.04,NaN,NaN,0.106861,NaN,2134329.200,3.496995e+09,97.860119,13033.0,1638.451450,6.161297,3.187450,1.019423,0.000095,0.000000,0.036220,0.010915,0.343161,0.000000,0.273646,0.248398,0.655464,0.275605,0.410312
327,Hanoi,328,12,MetroBike Emerging,Vietnam,8.0,10.0,2,NaN,0.90,24.5,0.0,0.000000,0.000000,0.000000,0,14.5,NaN,0.143000,NaN,0.149000,1.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,160.60,40.78,189.18,7445000,868,8600,520495,1149423,1391900,608994,33.6,6.3,3425.0,6.84,41.73,17.15,37.25,22.72,23.47,0.340,5.4,76.0,54.64,50.1,0.31,35.0,35.0,1.700368,89.66,8079366.816,1.156634e+09,300.370541,15881.0,143.158938,5.205795,2.870473,1.097533,0.000921,0.022938,0.078028,0.084511,0.358868,0.157676,0.509057,0.292564,0.624623,0.666710,0.239113
66,Urumqi,67,12,MetroBike Emerging,China,21.7,54.7,NaN,NaN,1.16,18.8,0.0,0.000000,0.000000,0.000000,0,66.0,0.134146,2.537764,9.123867,34.441088,7.0,0,0.000000,0.0,0.00000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3310000,492,6700,556511,1249115,1610288,491541,55.6,9.8,12189.0,3.40,NaN,NaN,NaN,NaN,NaN,0.320,NaN,76.1,NaN,50.1,0.43,NaN,58.0,7.550916,NaN,8891135.865,2.169530e+08,546.944874,9567.0,24.401041,4.736409,2.680313,1.064157,0.000348,0.060128,0.103334,0.447261,0.392551,0.287235,0.801464,0.322960,0.586019,0.791822,0.075617

In [7]:
df.columns

Index(['city', 'cityid', 'clusterid', 'typology', 'country', 'car_modeshare_p',
       'public_transit_modeshare_p', 'bicycle_modeshare_p',
       'walking_modeshare_p', 'gasoline_pump_price_usdliter',
       'road_deaths_rate_per_1000', 'subway_length_km',
       'subway_length_density_per_km', 'subway_stations_per_hundred_thousand',
       'subway_ridership_per_capita', 'subway_age_years', 'brt_length_km',
       'brt_system_length_density_per_km',
       'brt_stations_per_hundred_thousand_persons',
       'brt_fleet_per_hundred_thousand_persons',
       'brt_annual_ridership_per_capita', 'brt_age_years',
       'bikeshare_stations', 'bikeshare_stations_per_hundred_thousand_persons',
       'bikeshare_number_of_bikes',
       'bikeshare_bicycles_per_hundred_thousand_persons',
       'bikeshare_age_years', 'congestion_p', 'congestion_am_peak_p',
       'congestion_pm_peak_p', 'traffic_index', 'travel_time_index',
       'inefficiency_index', 'population', 'land_area_sq_km',
       'population_density_per_sq_km', 'population_change_1990_2000',
       'population_change_2000_2010', 'population_change_2010_2020',
       'population_change_2020_2025', 'urbanization_rate_2015_p',
       'urbanization_rate_change_2015_2025_pp', 'gdp_per_capita_usd',
       'unemployment_rate_p', 'cost_of_living_index', 'rent_index',
       'grocery_index', 'restaurant_price_index',
       'local_purchasing_power_index', 'gini_coefficient', 'poverty_rate_p',
       'life_expectancy_years', 'safety_index', 'internet_penetration',
       'digital_penetration', 'innovation_index', 'smartphone_penetration_p',
       'co2_emissions_per_capita_metric_tonnes', 'pollution_index',
       'street_length_total_m', 'street_length_density_msq_km',
       'street_length_average_m', 'intersection_count',
       'intersection_density_per_sq_km', 'degree_average', 'streets_per_node',
       'circuity', 'self-loop_proportion', 'highway_proportion',
       'metro_propensity_factor', 'brt_propensity_factor',
       'bikeshare_propensity_factor', 'development_factor',
       'sustainability_factor', 'population_factor', 'congestion_factor',
       'sprawl_factor', 'network_density_factor'],
      dtype='object')

In [8]:
df = df.set_index('cityid')
df = df.sort_index()

In [9]:
#columns with non int/float values
df.select_dtypes(exclude=['float64','int64']).columns

Index(['city', 'typology', 'country', 'bicycle_modeshare_p',
       'bikeshare_stations'],
      dtype='object')

In [10]:
df[df.select_dtypes(exclude=['float64','int64']).columns].head()

,city,typology,country,bicycle_modeshare_p,bikeshare_stations
cityid,,,,,
1,Kabul,Congested Emerging,Afghanistan,0,0
2,Algiers,Congested Emerging,Algeria,NaN,0
3,Oran,BusTransit Sprawl,Algeria,NaN,0
4,Luanda,Congested Boomer,Angola,NaN,0
5,Huambo,Congested Emerging,Angola,NaN,0

In [11]:
#Change string " " to np.nan to make it numeric instead of object
df['bikeshare_stations'].loc[df['bikeshare_stations'] == " "] = np.nan
df['bicycle_modeshare_p'].loc[df['bicycle_modeshare_p'] == " "] = np.nan

df['bikeshare_stations'] = pd.to_numeric(df['bikeshare_stations'])
df['bicycle_modeshare_p'] = pd.to_numeric(df['bicycle_modeshare_p'])

C:\Users\thork\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
for column in df.columns:
    if column.endswith("_p"):
        print(sum(df[column] > 100), df[column].max())

0 94.8
0 82.5
0 55.3
0 78.0
0 66.0
0 96.0
2 118.0
0 100.0
0 38.0
0 61.6
0 88.0

In [13]:
df[df.select_dtypes(include=['float64','int64']).columns].head()

,clusterid,car_modeshare_p,public_transit_modeshare_p,bicycle_modeshare_p,walking_modeshare_p,gasoline_pump_price_usdliter,road_deaths_rate_per_1000,subway_length_km,subway_length_density_per_km,subway_stations_per_hundred_thousand,subway_ridership_per_capita,subway_age_years,brt_length_km,brt_system_length_density_per_km,brt_stations_per_hundred_thousand_persons,brt_fleet_per_hundred_thousand_persons,brt_annual_ridership_per_capita,brt_age_years,bikeshare_stations,bikeshare_stations_per_hundred_thousand_persons,bikeshare_number_of_bikes,bikeshare_bicycles_per_hundred_thousand_persons,bikeshare_age_years,congestion_p,congestion_am_peak_p,congestion_pm_peak_p,traffic_index,travel_time_index,inefficiency_index,population,land_area_sq_km,population_density_per_sq_km,population_change_1990_2000,population_change_2000_2010,population_change_2010_2020,population_change_2020_2025,urbanization_rate_2015_p,urbanization_rate_change_2015_2025_pp,gdp_per_capita_usd,unemployment_rate_p,cost_of_living_index,rent_index,grocery_index,restaurant_price_index,local_purchasing_power_index,gini_coefficient,poverty_rate_p,life_expectancy_years,safety_index,internet_penetration,digital_penetration,innovation_index,smartphone_penetration_p,co2_emissions_per_capita_metric_tonnes,pollution_index,street_length_total_m,street_length_density_msq_km,street_length_average_m,intersection_count,intersection_density_per_sq_km,degree_average,streets_per_node,circuity,self-loop_proportion,highway_proportion,metro_propensity_factor,brt_propensity_factor,bikeshare_propensity_factor,development_factor,sustainability_factor,population_factor,congestion_factor,sprawl_factor,network_density_factor
cityid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,17.7,49.6,0.0,32.7,0.65,15.5,0.0,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3650000,259,14100,631001,1088568,1083559,990357,26.7,4.7,617.9,38.0,NaN,NaN,NaN,NaN,NaN,0.29,27.6,60.5,NaN,12.3,NaN,NaN,NaN,0.693183,104.20,4.374732e+06,4.185928e+09,122.672083,20705.0,956.842164,5.230966,2.688829,1.043663,0.000778,0.000000,0.079425,0.012067,0.373602,0.029561,0.221471,0.310268,0.707286,0.211824,0.330575
2,1,12.8,28.7,NaN,55.8,0.37,23.8,13.5,0.030682,0.380952,4.353741,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3675000,440,8300,458131,573311,756928,368897,70.7,4.9,4827.7,10.0,34.98,10.09,34.96,26.43,39.57,0.37,NaN,75.6,52.52,37.3,0.37,28.0,NaN,3.514780,74.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.127131,0.081778,0.375540,0.118424,0.344736,0.173201,0.656164,0.559870,0.380830
3,2,NaN,NaN,NaN,NaN,0.37,23.8,0.0,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1015000,163,6200,59272,69838,144774,105265,70.7,4.9,4827.7,NaN,NaN,NaN,NaN,NaN,NaN,0.37,NaN,75.6,NaN,37.3,0.37,NaN,NaN,3.514780,NaN,1.358144e+06,6.104866e+09,88.640113,9253.0,4495.007149,5.749214,3.120828,1.044617,0.000635,0.017992,0.047502,0.088082,0.388473,0.231902,0.311532,0.114422,0.554905,0.689737,0.499762
4,3,NaN,NaN,NaN,NaN,0.76,26.9,0.0,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,6955000,984,7100,1023451,2198754,2765042,1368858,44.1,7.2,6769.0,25.0,147.99,144.32,131.28,112.84,25.09,0.62,18.7,52.4,34.99,29.5,0.11,21.0,NaN,1.384496,NaN,7.758223e+06,6.203790e+09,100.082864,46581.0,799.640511,5.728079,2.973880,1.026107,0.000528,0.000000,0.061402,0.087578,0.000000,0.485812,0.175425,0.429534,0.642123,0.331717,0.514084
5,1,NaN,NaN,NaN,NaN,0.76,26.9,0.0,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,590000,130,4600,251285,460941,627198,330972,44.1,7.2,3582.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.7,52.4,NaN,29.5,0.11,NaN,NaN,1.384496,NaN,5.243590e+05,4.249366e+08,198.620820,1574.0,810.392514,5.581714,3.023429,1.055167,0.000205,0.000000,0.074822,0.037257,0.342958,0.043231,0.343601,0.206326,0.687646,0.458215,0.313614

In [14]:
df.select_dtypes(exclude=['float64','int64']).columns

Index(['city', 'typology', 'country'], dtype='object')

In [15]:
#Number of columns (plus clusterid)
len(df.select_dtypes(include=['float64','int64']).columns)

74

## Data 1
19 columns

In [16]:
#subway
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,7:12]

,subway_length_km,subway_length_density_per_km,subway_stations_per_hundred_thousand,subway_ridership_per_capita,subway_age_years
cityid,,,,,
1,0.0,0.000000,0.000000,0.000000,0
2,13.5,0.030682,0.380952,4.353741,6
...,...,...,...,...,...
330,0.0,0.000000,0.000000,0.000000,0
331,0.0,0.000000,0.000000,0.000000,0

In [17]:
#brt
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,12:18]

,brt_length_km,brt_system_length_density_per_km,brt_stations_per_hundred_thousand_persons,brt_fleet_per_hundred_thousand_persons,brt_annual_ridership_per_capita,brt_age_years
cityid,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
330,0.0,0.0,0.0,0.0,0.0,0.0
331,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#bikeshare
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,18:23]

,bikeshare_stations,bikeshare_stations_per_hundred_thousand_persons,bikeshare_number_of_bikes,bikeshare_bicycles_per_hundred_thousand_persons,bikeshare_age_years
cityid,,,,,
1,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...
330,0.0,0.0,0.0,0.0,0.0
331,0.0,0.0,0.0,0.0,0.0

In [28]:
#Latent factors
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,65:68]

,metro_propensity_factor,brt_propensity_factor,bikeshare_propensity_factor
cityid,,,
1,0.079425,0.012067,0.373602
2,0.127131,0.081778,0.375540
...,...,...,...
330,0.055824,0.056106,0.331838
331,0.079849,0.072255,0.336195

## Data 2
19 columns

In [19]:
#congestion: https://www.tomtom.com/en_gb/traffic-index/ranking/
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,23:26]

        congestion_p  congestion_am_peak_p  congestion_pm_peak_p
cityid
1                NaN                   NaN                   NaN
2                NaN                   NaN                   NaN
...              ...                   ...                   ...
330              NaN                   NaN                   NaN
331              NaN                   NaN                   NaN

[331 rows x 3 columns]

In [20]:
#index
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,26:29]

        traffic_index  travel_time_index  inefficiency_index
cityid
1                 NaN                NaN                 NaN
2                 NaN                NaN                 NaN
...               ...                ...                 ...
330               NaN                NaN                 NaN
331               NaN                NaN                 NaN

[331 rows x 3 columns]

In [21]:
# Street, density, intersection
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,55:65]

,street_length_total_m,street_length_density_msq_km,street_length_average_m,intersection_count,intersection_density_per_sq_km,degree_average,streets_per_node,circuity,self-loop_proportion,highway_proportion
cityid,,,,,,,,,,
1,4374731.818,4.185928e+09,122.672083,20705.0,956.842164,5.230966,2.688829,1.043663,0.000778,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
330,2597621.506,5.777079e+09,143.777135,10837.0,2223.987863,5.500936,2.825951,1.047414,0.000567,0.0
331,5583433.444,4.636656e+09,163.172408,20629.0,830.431031,5.407128,2.760167,1.114597,0.008084,0.0

In [44]:
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,71:]

        congestion_factor  sprawl_factor  network_density_factor
cityid
1                0.707286       0.211824                0.330575
2                0.656164       0.559870                0.380830
...                   ...            ...                     ...
330              0.628004       0.170900                0.421654
331              0.672140       0.343946                0.303226

[331 rows x 3 columns]

# Data 3
18 columns

In [22]:
#economic
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,38:55]

,gdp_per_capita_usd,unemployment_rate_p,cost_of_living_index,rent_index,grocery_index,restaurant_price_index,local_purchasing_power_index,gini_coefficient,poverty_rate_p,life_expectancy_years,safety_index,internet_penetration,digital_penetration,innovation_index,smartphone_penetration_p,co2_emissions_per_capita_metric_tonnes,pollution_index
cityid,,,,,,,,,,,,,,,,,
1,617.9,38.0,NaN,NaN,NaN,NaN,NaN,0.29,27.6,60.5,NaN,12.3,NaN,NaN,NaN,0.693183,104.20
2,4827.7,10.0,34.98,10.09,34.96,26.43,39.57,0.37,NaN,75.6,52.52,37.3,0.37,28.0,NaN,3.514780,74.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,1627.3,NaN,51.32,29.96,37.22,33.52,124.62,0.50,27.5,61.8,NaN,20.4,0.17,NaN,NaN,0.250863,NaN
331,917.6,NaN,52.63,15.61,41.37,43.07,28.58,0.38,46.5,60.7,49.36,46.5,0.29,NaN,NaN,0.924990,73.67

In [30]:
#Latent urban factors
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,68:69]

        development_factor
cityid
1                 0.029561
2                 0.118424
...                    ...
330               0.126954
331               0.171572

[331 rows x 1 columns]

## Data 4
17 columns

In [23]:
#modeshare
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,1:5]

,car_modeshare_p,public_transit_modeshare_p,bicycle_modeshare_p,walking_modeshare_p
cityid,,,,
1,17.7,49.6,0.0,32.7
2,12.8,28.7,NaN,55.8
...,...,...,...,...
330,12.0,21.0,NaN,62.0
331,18.0,35.5,2.5,42.0

In [24]:
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,5:7]

        gasoline_pump_price_usdliter  road_deaths_rate_per_1000
cityid
1                               0.65                       15.5
2                               0.37                       23.8
...                              ...                        ...
330                             1.46                       24.7
331                             1.35                       28.2

[331 rows x 2 columns]

In [25]:
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,29:38]

,population,land_area_sq_km,population_density_per_sq_km,population_change_1990_2000,population_change_2000_2010,population_change_2010_2020,population_change_2020_2025,urbanization_rate_2015_p,urbanization_rate_change_2015_2025_pp
cityid,,,,,,,,,
1,3650000,259,14100,631001,1088568,1083559,990357,26.7,4.7
2,3675000,440,8300,458131,573311,756928,368897,70.7,4.9
...,...,...,...,...,...,...,...,...,...
330,2660000,313,8500,315866,645586,1045507,731386,40.9,4.8
331,2220000,829,2700,331799,146587,464062,346663,32.4,0.2

In [51]:
#Latent urban factors
df[df.select_dtypes(include=['float64','int64']).columns].iloc[:,69:71]

        sustainability_factor  population_factor
cityid
1                    0.221471           0.310268
2                    0.344736           0.173201
...                       ...                ...
330                  0.284887           0.253098
331                  0.221051           0.116942

[331 rows x 2 columns]